<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>passwordReinitialize</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" [class]="'logo_'+step">
    <ion-img src="../../assets/icons/auth/Logo-salam-assurance.svg"></ion-img>
  </ion-item>
  <div class="indication">
    <h1>Réinitialisation mot de passe</h1>
    <p>{{indication.p1}}</p>
    <p>{{indication.p2}}</p>
  </div>
  <form [formGroup]="form" *ngIf="step === 1">
    <ion-item lines="none" class="input">
      <ion-label position="floating" class="label">Email</ion-label>
      <ion-input type="text" formControlName="email">
        <ion-icon src="../../assets/icons/tab/newcompte/email.svg"></ion-icon>
      </ion-input>
      <span class="ivalidmsg" *ngIf="!msg">Email invalide !</span>
    </ion-item>
  </form>
  <!-- <ion-item lines="none">
  </ion-item> -->
  <ion-button expand="full" color="success" (click)="send()"><p>Envoyer</p></ion-button>
  <ion-img src="../../assets/icons/auth/illustration-salama-web.svg"></ion-img>
</ion-content>
