@import "../../../assets/styles/color.scss";
.logo_1, .logo_2{
  ion-img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}
.logo_2{
  ion-img{
    margin-top: 60px;
  }
}
.indication{
  color: $succes;
  text-align: center;
  h1{
    font-family: "Rawson-SemiBold";
    font-size: 18px;
    text-transform: uppercase;
  }
  p{
    font-family: "Rawson-LightIt";
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 2px;
  }
}

.input{
  .label{
    color: $labelInput !important;
    font-family: "Rawson-SemiBold" !important;
    font-size: 13px !important;
    max-width: 218.25px !important;
    width: 100% !important;
    margin-right: auto !important;
    margin-left: 0 !important;
  }

  ion-input{
    text-align: left;
    border-bottom: 1px solid $borderBottomInput;
    font-family: "Rawson-LightIt";
    color: $succes;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    --padding-bottom: 0 !important;
    --padding-top: 0 !important;
    --padding-left: 0 !important;
    padding-right: 18px !important;
    margin-bottom: 5px;
    ion-icon{
      position: absolute;
      right: 0;
    }
  }

  padding-right: 10px;
  padding-left: 10px;
}
.ivalidmsg{
  color: $invalidmsg;
  font-family: "Rawson-SemiBold";
  font-size: 11px;
}
ion-button{
  width: 218.25px;
  height: 33.75px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Rawson-SemiBold";
  font-size: 20px;
  p{
    padding-top: 2px;
  }
  margin-top: 20px;
  margin-bottom: 90px;
}
