<ion-header>
  <!-- <ion-toolbar>
    <ion-title>compte</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item class="logo">
      <ion-img src="../../assets/icons/auth/Logo-salam-assurance.svg"></ion-img>
    </ion-item>
    <ion-item class="illustration">
      <ion-img src="../../assets/icons/auth/illustration-salama-web.svg"></ion-img>
    </ion-item>
    <ion-item>
      <ion-button color="success" expand="full" class="login" (click)="login()">Login</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="medium" expand="full" class="creerCmpt" (click)="createCompte()">Créer compte</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
