<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mon-profil" class="mon-profil">
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <ion-img src="../assets/icons/tab/mon-profil.svg"></ion-img>
      <ion-label>Mon profil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assurances" class="assurances">
      <!-- <ion-icon name="ellipse"></ion-icon> -->
      <ion-img src="../assets/icons/tab/success-icone.svg"></ion-img>
      <ion-label>Assurances</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reclamations" class="reclamations">
      <ion-img src="../assets/icons/tab/suiv-dossiers-web.svg"></ion-img>
      <ion-label>Reclamations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="declaration-sinistre" class="indemnisation">
      <ion-img src="../assets/icons/tab/Idemnisation.svg"></ion-img>
      <ion-label>Indemnisations</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
