<ion-header class="ion-no-border">
  <!-- <ion-toolbar class="toolbar">
    <ion-icon name="chevron-back-outline" slot="start" style="zoom:2;"></ion-icon>
  </ion-toolbar> -->
    <div class="toolbar">
      <ion-buttons slot="start" (click)="pop()">
        <ion-icon name="chevron-back-outline" class="back" style="zoom:2;"></ion-icon>
      </ion-buttons>
      <ion-avatar color="primary">
        <ion-img src="../../assets/icons/tab/newcompte/7.jpg"></ion-img>
        <ion-button class="photo ion-no-padding" color="light">
          <ion-icon name="camera-sharp" color="success"></ion-icon>
        </ion-button>
      </ion-avatar>
    </div>
</ion-header>

<ion-content>
  <!-- <div class="toolbar">
    <ion-icon name="chevron-back-outline" slot="start" style="zoom:2;"></ion-icon>
  </div>
  <ion-avatar>
    <ion-img src="../../assets/icons/tab/newcompte/7.jpg"></ion-img>
    <ion-button class="photo ion-no-padding" color="light">
      <ion-icon name="camera-sharp" color="success"></ion-icon>
    </ion-button>
  </ion-avatar> -->
  <div class="detailProfil">
    <div class="header">
      <span>Bienvenue</span>
      <h1>Serigne SALIOU Ndione (As salih)</h1>
      <hr>
    </div>
    <ion-list class="infos" lines="none">
      <ion-item class="" lines="none">
        <ion-label class="label" position="floating">NOM D’UTILISATEUR</ion-label>
        <ion-input type="text" ngModel="As salih" id="edit">
          <ion-icon src="../../assets/icons/tab/newcompte/pencil-outline.svg" slot="end" for="edit"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item class="" lines="none">
        <ion-label class="label" position="floating">MOT DE PASSE</ion-label>
        <ion-input type="password" ngModel="As salih">
          <ion-icon src="../../assets/icons/tab/newcompte/pencil-outline.svg" slot="end"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item class="" lines="none">
        <ion-label class="label" position="floating">NUMÉRO DE TÉLÉPHONE</ion-label>
        <ion-input type="text" ngModel="(+221) 77 700 90 90">
          <ion-icon src="../../assets/icons/tab/newcompte/pencil-outline.svg" slot="end"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item class="" lines="none">
        <ion-label class="label" position="floating">NOM</ion-label>
        <ion-input type="text" ngModel="NDIONE">
          <ion-icon src="../../assets/icons/tab/newcompte/pencil-outline.svg" slot="end"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item class="" lines="none">
        <ion-label class="label" position="floating">PRÉNOM</ion-label>
        <ion-input type="text" ngModel="SERIGNE SALIOU">
          <ion-icon src="../../assets/icons/tab/newcompte/pencil-outline.svg" slot="end"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item class="" lines="none">
        <ion-label class="label" position="floating">NUMÉRO PASSPORT / CIN</ion-label>
        <ion-input type="text" ngModel="A00 120 100 02">
          <ion-icon src="../../assets/icons/tab/newcompte/pencil-outline.svg" slot="end"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item class="" lines="none">
        <ion-label class="label" position="floating">DATE ET LIEU DE NAISSANCE</ion-label>
        <ion-input type="text" ngModel="03/03/1988 À DAKAR">
          <ion-icon src="../../assets/icons/tab/newcompte/pencil-outline.svg" slot="end"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="full" color="success" (click)="enregistrer()"><p>ENRÉGISTRER</p></ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
