<ion-content>
  <ion-list lines="none">
    <ion-item class="logo">
      <ion-img src="../../../assets/icons/auth/Logo-salam-assurance.svg"></ion-img>
    </ion-item>
    <ion-item class="illust">
      <ion-img src="../../../assets/icons/auth/illustration-salama-web.svg"></ion-img>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="first">
            <ion-img src="../../assets/icons/tab/success-icone.svg" class="success-icone"></ion-img>
            <ion-label>Assurances</ion-label>
          </ion-col>
          <ion-col routerLink="/tabs/reclamations">
            <ion-img src="../../assets/icons/tab/suiv-dossiers-web.svg" class="success-icone"></ion-img>
            <ion-label>Déclarations</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="first">
            <ion-img src="../../assets/icons/tab/Idemnisation.svg" class="success-icone"></ion-img>
            <ion-label>Remboursements</ion-label>
          </ion-col>
          <ion-col>
            <ion-img src="../../assets/icons/tab/mon-profil.svg" class="success-icone"></ion-img>
            <ion-label>Mon profil</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
