<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-no-padding">
      <h2 class="title">Mes souscriptions</h2>
      <hr/>
    </ion-title>
    <ion-buttons slot="start" (click)="pop()" class="retour">
      <ion-icon name="chevron-back-outline" color="success" style="zoom:2;"></ion-icon>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications" color="success"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="souscriptionGarant"></div> -->
  <!-- <ion-img src="../../assets/icons/tab/assurance/souscription-background.svg"></ion-img> -->
  <ion-row *ngFor="let s of subscription;let i=index">
    <ion-col size="1">
      <div [ngClass]="!s.detail ? 'vehicule' : 'vehicule vehicule_d'" (click)="detail(i)">
        <ion-icon name="car-sport"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="11">
      <ion-card class="souscriptionGarant" (click)="detail(i)">
        <ion-card-content class="garant">
          <ion-row *ngIf="!s.detail">
            <ion-col size="2" class="ion-no-padding">
              <!-- <div class="vehicule"></div> -->
            </ion-col>
            <ion-col size="10" class="ion-no-padding">
              <ion-row>
                <ion-col size="6" class="marque"><span>{{s.marque}}</span></ion-col>
                <ion-col size="6" class="typeSinistre"><span>Type d’assurance</span></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" class="modele"><span>{{s.model}}</span></ion-col>
                <ion-col size="6" class="collusion"><span>{{s.typeAssurance}}</span></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="etap">
                  <!-- <ion-img src="../../assets/icons/tab/assurance/souscription-active.svg"></ion-img> -->
                  <!-- A active apres complement des assets -->
                  <ion-row>
                    <ion-col size="1" class="etapImg ion-no-padding">
                      <ion-img class="active" src="../../assets/icons/tab/assurance/souscription-active.svg" *ngIf="s.etap === 'Active'"></ion-img>
                      <ion-img src="../../assets/icons/tab/assurance/souscription-inactive.svg" *ngIf="s.etap !== 'Active'"></ion-img>
                    </ion-col>
                    <ion-col size="11" Class="etapLabel a" *ngIf="s.etap === 'Active'"><span>{{s.etap}}</span></ion-col>
                    <ion-col size="11" Class="etapLabel b" *ngIf="s.etap !== 'Active'"><span>{{s.etap}}</span></ion-col>
                  </ion-row>
                </ion-col>
                <!-- <ion-col size="6" class="collusion"></ion-col> -->
              </ion-row>
              <ion-row>
                <ion-col size="6" class="policeAssurance"><span>N° police d’assurance</span></ion-col>
                <ion-col size="6" class="approuver"><span>Validité</span></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" class="policeAssurance"><span>{{s.police}}</span></ion-col>
                <ion-col size="6" class="duree"><span>{{s.approuver}}</span></ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="s.detail">
            <ion-col size="2"></ion-col>
            <ion-col size="10">
              <ion-row>
                <ion-col size="11" class="marque"><span>{{s.marque}}</span></ion-col>
                <ion-col size="1" class="typeSinistre etapImg">
                  <ion-img src="../../assets/icons/tab/assurance/souscription-active.svg" *ngIf="s.etap === 'Active'"></ion-img>
                  <ion-img src="../../assets/icons/tab/assurance/souscription-inactive.svg" *ngIf="s.etap !== 'Active'"></ion-img>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" class="modele"><span>{{s.model}}</span></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12"></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" class="nom"><span>Nom</span></ion-col>
                <ion-col size="6" class="prenom"><span>Prénom</span></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" class="nomdupers"><span>{{s.nom}}</span></ion-col>
                <ion-col size="6" class="prenomdupers"><span>{{s.prenom}}</span></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="detailAssurance"><span>Détails assurance</span><hr /></ion-col>
                <!-- <ion-col size="6" class="ligne"><hr /></ion-col> -->
              </ion-row>
              <ion-row>
                <ion-col size="6" class="nom"><span>N° police d’assurance</span></ion-col>
                <ion-col size="6" class="prenom"><span>Validité</span></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" class="num"><span>{{s.police}}</span></ion-col>
                <ion-col size="6" class="num"><span>{{s.approuver}}</span></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="typeA"><span>Type d’assurance</span></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="collusion2"><span>{{s.typeAssurance}}</span></ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-img src="../../assets/icons/auth/illustration-salama-web.svg" class="illustration"></ion-img>
</ion-content>
