$succes : #1F6666;
$success-hover : #0F4947;
$medium-hover : #4E4C32;
$labelInput : #B5CECD;
$borderBottomInput : #1f666662;
$boderHome : #D3EAE9;
$white: #FFFFFF;
$ombreCard : #00000029;
$greenAppreciation: #12DD60;
$orangeAppreciation: #FFBD40;
$pinkAppreciation: #DD1258;
$maron: #7A774C;
$stepInactive: #F3F3F3;
$borderTextarea: #1f66664d;
$subscriptionbg: #EAF8F8;
$stepincomplete: #E6E5E5;
$circle: #E3E3E3;
$invalidmsg: #FF0E46;
$black: #000000;
